<!--
          /\
         /_.\
   _,.-'/ `",\'-.,_
-~^    /______\`~~-^~:

  ________  _______   ________
 |\   ____\|\  ___ \ |\   __  \
 \ \  \___|\ \   __/|\ \  \|\ /\
  \ \_____  \ \  \_|/_\ \   __  \
   \|____|\  \ \  \_|\ \ \  \|\  \
     ____\_\  \ \_______\ \_______\
    |\_________\|_______|\|_______|
    \|_________|
                                                                                            
                                                                                            
  ___  __    _______       ___    ___                                                       
 |\  \|\  \ |\  ___ \     |\  \  /  /|                                                      
 \ \  \/  /|\ \   __/|    \ \  \/  / /                                                      
  \ \   ___  \ \  \_|/__   \ \    / /                                                       
   \ \  \\ \  \ \  \_|\ \   \/  /  /                                                        
    \ \__\\ \__\ \_______\__/  / /                                                          
     \|__| \|__|\|_______|\___/ /                                                           
                         \|___|/
                                                                                 
          /\
         /_.\
   _,.-'/ `",\'-.,_
-~^    /______\`~~-^~:       

see you on the dark side of the moon...
-->
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <!-- build:css /assets/stylesheets/style.min.css -->
  <link rel="stylesheet" href="/assets/vendor/skeleton/css/normalize.css">
  <link rel="stylesheet" href="/assets/vendor/skeleton/css/skeleton.css">
  <link rel="stylesheet" href="/assets/vendor/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
  <!-- endbuild -->
  <!-- JS -->
  <!-- build:js /assets/javascript/all.min.js -->
  <script src="/assets/vendor/jquery/dist/jquery.min.js"></script> 
  <script src="/assets/vendor/typist/src/typist.js"></script> 
  <script src="/assets/javascript/main.js"></script> 
  <!-- endbuild -->

  <!-- Icons -->
  <link rel="shortcut icon" href="/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
